---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/wallet/cancel-withdrawal
    body:
      encoding: UTF-8
      string: '{"orderId":"123456"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - Gg7CUiOAvaE4tpWOjPE/NT12Y8xlYbUGtlUcl4wcfQY=
      Access-Timestamp:
      - '1747790261810'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"data":"success"}'
  recorded_at: Wed, 21 May 2025 01:17:43 GMT
recorded_with: VCR 6.3.1
