---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/wallet/deposit-records?endTime=1690197141868&startTime=1690196141868
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - bApfVLRyKg6RJXopKcj/pPRV+BxLHtv0vozx/i7Y/FE=
      Access-Timestamp:
      - '1747580594776'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: UTF-8
      string: '{"code": "00000","msg": "success","requestTime": 1654507973411,"data": [{"orderId": "1","tradeId": "1","coin": "USDT","type": "deposit","size": "10.00000000","status": "success","toAddress": "0x51xxx","dest": "on_chain","chain": "erc20","fromAddress": "0x52xxx","cTime": "1653290769222","uTime": "1653290769222"}]}'
  recorded_at: Sun, 18 May 2025 15:03:23 GMT
recorded_with: VCR 6.3.1
