---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/wallet/deposit-address?chain=TRC20&coin=USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - s4sBa6PLjo7+RWVc0yDmQqRzKCCYddc18yKtlumccJU=
      Access-Timestamp:
      - '1747574805515'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574806919,"data":{"coin":"USDT","address":"TFs7vLUp6Y3SfAa39vdi4XrZeTJohMHzz9","chain":"TRC20","tag":null,"url":"https://tronscan.org/#/transaction/"}}'
  recorded_at: Sun, 18 May 2025 13:26:47 GMT
recorded_with: VCR 6.3.1
