---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/wallet/modify-deposit-account
    body:
      encoding: UTF-8
      string: '{"accountType":"INVALID","coin":"INVALID"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - 6yKlbu1WZoVZGinCMT9IHoMnwkydHCxzaZY5RcI0KZs=
      Access-Timestamp:
      - '1747574766628'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 18 May 2025 13:26:08 GMT
recorded_with: VCR 6.3.1
