---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/wallet/modify-deposit-account
    body:
      encoding: UTF-8
      string: '{"accountType":"spot","coin":"TRX"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - Ehlna8kdSkRazytUewQZCsgMT69UekuLRu9qO0bJZEw=
      Access-Timestamp:
      - '1747574795892'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"code": "00000","msg": "success","requestTime": 1683875302853,"data": "success"}'
  recorded_at: Sun, 18 May 2025 13:26:37 GMT
recorded_with: VCR 6.3.1
