---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/wallet/subaccount-transfer
    body:
      encoding: UTF-8
      string: '{"fromType":"INVALID","toType":"INVALID",coin":"INVALID","amount":"100"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - 5OrYvLXGTWCJmYZf7VRByfdzKJG0cLR49zznV51C/Gc=
      Access-Timestamp:
      - '1747574815180'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 May 2025 13:26:56 GMT
recorded_with: VCR 6.3.1
