---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/wallet/subaccount-deposit-address?chain=TRC20&coin=USDT&subUid=123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - q74iTZEmjB/9qTYVbBa3HmI65b8ui2NvlZcV6jZg/Ls=
      Access-Timestamp:
      - '1747823054678'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"code":"00000","msg":"success","requestTime":1747823057238,"data":{"coin":"USDT","address":"TFs7vLUp6Y3SfAa39vdi4XrZeTJohMHzz9","chain":"TRC20","tag":null,"url":"https://tronscan.org/#/transaction/"}}'
  recorded_at: Wed, 21 May 2025 10:24:16 GMT
recorded_with: VCR 6.3.1
