---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/wallet/subaccount-deposit-address?chain=TRC20&coin=USDT&subaccountId=123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - PKHyD0LXBJBHnKo/1JEKA06GnyTjxwGQ/Jvzuj+m+z0=
      Access-Timestamp:
      - '1747574724100'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"code":"400172","msg":"Parameter verification failed","requestTime":1747574725459,"data":null}'
  recorded_at: Sun, 18 May 2025 13:25:25 GMT
recorded_with: VCR 6.3.1
