---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/wallet/subaccount-deposit-records?subUid=123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - WGnudFD9aMOBUl9wdjArtm+PMUbeBUdgugVX+jTi85Q=
      Access-Timestamp:
      - '1747574808740'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"code": "00000","msg": "success","requestTime": 1654507973411,"data": [{"orderId": "1","tradeId": "1","coin": "USDT","size": "10.00000000","status": "success","toAddress": "0x51xxx","dest": "on_chain","chain": "erc20","fromAddress": "0x52xxx","cTime": "1653290769222","uTime": "1653290769222"}]}'
  recorded_at: Sun, 18 May 2025 13:26:50 GMT
recorded_with: VCR 6.3.1
