---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/wallet/transfer-coin-info?fromType=spot&toType=isolated_margin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - C2PEJ20SI9hkDImar1w8KX7U6XlcDNUN3fhDLH4npKg=
      Access-Timestamp:
      - '1747820469545'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747820471929,"data":["AGLD","LVL","SCR","GLM","RAY","NEAR","AUDIO","BBO","WLD","ZORA","HNT","ETHFI","ZRO","VELODROME","HALO","GME","RBN","MDAO","ZRX","WING","BCH","GPTOLD","JST","CEL","HOT","GMT","BEER","AR","TSTBSC","GMX","CHILLGUY","SEI","BB","JTO","FLM","PROMPT","VELA","GNS","VANRY","THE","BIGTIME","S","CFX","T","BABYDOGE","W","X","SFP","ACA","ACE","JUP","ACH","BEL","MINA","TIA","VTHO","DRIFT","RED","ARBINU","ACT","WOO","ACX","BLUR","REN","STRK","ADA","STORJ","VIRTUAL","STARL","LADYS","RARE","PAXG","REZ","CHR","[...]
