---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/wallet/transfer
    body:
      encoding: UTF-8
      string: '{"fromAccount":"INVALID","toAccount":"INVALID","coin":"INVALID","amount":"100","requestTime":null,"receiveWindow":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - i+CirsR8ayJU3lFvwGr/x1CMUAaLjwOxaQbsaX41G1o=
      Access-Timestamp:
      - '1747574786288'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 May 2025 13:26:27 GMT
recorded_with: VCR 6.3.1
