---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/wallet/transfer
    body:
      encoding: UTF-8
      string: '{"fromAccount":"spot","toAccount":"isolated_margin","coin":"USDT","amount":"100","requestTime":null,"receiveWindow":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - wAtjPPrKvLPxOT3LW1k6bdkxfeeMhwMwJapkgnkx8X4=
      Access-Timestamp:
      - '1747574755594'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: UTF-8
      string: '{"code":"00000","msg":"success","requestTime":1747574756972,"data":{"transferId":"123456789", "clientOid":"123456789"}}'
  recorded_at: Sun, 18 May 2025 13:25:57 GMT
recorded_with: VCR 6.3.1
