---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/wallet/transfer-coin-info?fromAccount=spot&toAccount=margin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - bnGlcOynFj9F6s4bUssZhB0kzvEqCEPNqesZ+PeKH54=
      Access-Timestamp:
      - '1747574752381'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"code":"40034","msg":"Parameter fromType does not exist","requestTime":1747574753761,"data":null}'
  recorded_at: Sun, 18 May 2025 13:25:53 GMT
recorded_with: VCR 6.3.1
