---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/wallet/withdrawal-records?endTime=1690197141868&startTime=1690196141868
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - kdOTqBvdL+ps4E/BgAOICQylXsP3Sfnaf5U+4MQ/o7U=
      Access-Timestamp:
      - '1747574791078'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"code": "00000","msg":"success","requestTime":1654507973411,"data":[{"orderId": "1","tradeId": "1","coin": "USDT","dest": "dest","clientOid": "123","type": "withdraw","tag": "","size": "10.00000000","fee": "-1.00000000","status": "success","toAddress": "1","fromAddress": "2","confirm": "100","chain": "erc20","cTime": "1653290769222","uTime": "1653290769222"}]}'
  recorded_at: Sun, 18 May 2025 13:26:32 GMT
recorded_with: VCR 6.3.1
