---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/wallet/withdrawal
    body:
      encoding: UTF-8
      string: '{"coin":"INVALID","chain":"INVALID","address":"0x1234567890abcdef","amount":"100","tag":null,"remark":null,"requestTime":null,"receiveWindow":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - ZhPvVq9GuISoIE08gB7r31iEyzDti8ShPyLWfSBWSTg=
      Access-Timestamp:
      - '1747574717832'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '0'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 May 2025 13:25:19 GMT
recorded_with: VCR 6.3.1
