---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/wallet/withdrawal
    body:
      encoding: UTF-8
      string: '{"address":"0x1234567890abcdef","chain":"TRC20","coin":"USDT","size":100,"transferType":"on_chain"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - eggJ++hvN2UV7VmcrFuHhRpuUQCHCtnUgJGHOOYkSEA=
      Access-Timestamp:
      - '1747796115243'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '0'
    body:
      encoding: UTF-8
      string: '
        {
            "code": "00000",
            "msg": "success",
            "requestTime": 1695808949356,
            "data": {
                "orderId": "123",
                "clientOid": "123"
            }
        }
      '
  recorded_at: Wed, 21 May 2025 02:55:15 GMT
recorded_with: VCR 6.3.1
