---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/wallet/withdrawal
    body:
      encoding: UTF-8
      string: '{"coin":"USDT","chain":"TRC20","address":"0x1234567890abcdef","amount":"100","tag":null,"remark":null,"requestTime":null,"receiveWindow":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - eNkZ9Wa3HdDNFHMbsGdncj4vK5HXJWfuryLaXtYG2FA=
      Access-Timestamp:
      - '1747574853540'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '0'
    body:
      encoding: UTF-8
      string: '{"code":"40014","msg":"Incorrect permissions, need withdraw write permissions","requestTime":1747574854912,"data":null}'
  recorded_at: Sun, 18 May 2025 13:27:35 GMT
recorded_with: VCR 6.3.1
