---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/batch-orders
    body:
      encoding: UTF-8
      string: '{"batchMode":"multiple","orderList":[{"symbol":"BTCUSDT","side":"buy","orderType":"limit","force":"gtc","price":"30000","size":"0.001"},{"symbol":"ETHUSDT","side":"buy","orderType":"limit","force":"gtc","price":"2000","size":"0.01"}]}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - 7tm7N0xkVFFWwnYaTro/SZ5XDf/5KmK70WL9uL+bPyU=
      Access-Timestamp:
      - '1747753723776'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747753726516,"data":{"successList":[{"orderId":"1308739474185175042","clientOid":"0f1c92ec-fd9a-4970-a64d-000d7e96f6a8"},{"orderId":"1308739474189369350","clientOid":"39601186-02f2-4a33-aa90-5da1b6259127"}],"failureList":[]}}'
  recorded_at: Tue, 20 May 2025 15:08:45 GMT
recorded_with: VCR 6.3.1
