---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/batch-cancel-replace-order
    body:
      encoding: UTF-8
      string: '{"orders":[{"symbol":"INVALID"}]}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - iF6WdBK+8piVNxQ9YeaXUhQN5DOx5pozbLp0fl+tHAA=
      Access-Timestamp:
      - '1747574781471'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '4'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 May 2025 13:26:23 GMT
recorded_with: VCR 6.3.1
