---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/batch-cancel-order
    body:
      encoding: UTF-8
      string: '{"symbol":"INVALID","orderIds":["123456","123457"],"clientOrderIds":null,"requestTime":null,"receiveWindow":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - ebObnDTtER0/Guv1CmpWwrylQZ3Trf2C4MUgxfROyEQ=
      Access-Timestamp:
      - '1747574716247'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 May 2025 13:25:17 GMT
recorded_with: VCR 6.3.1
