---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/batch-cancel-plan-order
    body:
      encoding: UTF-8
      string: '{"symbol":"BTCUSDT","orderIds":["123456","123457"]}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - NHV7H43GQXFAKa3BGSpJB41Uvmwfyezv5lp/YUkqyrk=
      Access-Timestamp:
      - '1747575709474'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747575711282,"data":{"successList":null,"failureList":null}}'
  recorded_at: Sun, 18 May 2025 13:41:51 GMT
recorded_with: VCR 6.3.1
