---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/batch-cancel-replace-order
    body:
      encoding: UTF-8
      string: '{"orders":[{"symbol":"BTCUSDT","orderId":"123456","price":"31000","size":"0.001"},{"symbol":"ETHUSDT","orderId":"123457","price":"2000","size":"0.01"}]}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - ZYXp2fAmTMA0NAKGxTBao/Be3s+MhOyy/q83TEN89fc=
      Access-Timestamp:
      - '1747574802341'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '4'
    body:
      encoding: UTF-8
      string: '{"code": "00000","msg": "success","requestTime": 1725341809524,"data": [{"orderId": "xxxxxxxxxxxxxxxxxxxxxx","clientOid": null,"success": "failure","msg": "xxxxxx"}]}'
  recorded_at: Sun, 18 May 2025 13:26:43 GMT
recorded_with: VCR 6.3.1
