---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/batch-orders
    body:
      encoding: UTF-8
      string: '{"orders":[{"symbol":"BTCUSDT","side":"buy","orderType":"limit","force":"normal","price":"30000","size":"0.001"},{"symbol":"ETHUSDT","side":"buy","orderType":"limit","force":"normal","price":"2000","size":"0.01"}],"requestTime":null,"receiveWindow":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - ZUQ8YZvJ4qj5GcJhuJlUGnvP25eYcJ0PWaDHjehKPI0=
      Access-Timestamp:
      - '1747574834359'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"code":"40019","msg":"Parameter symbol cannot be empty","requestTime":1747574835748,"data":null}'
  recorded_at: Sun, 18 May 2025 13:27:15 GMT
recorded_with: VCR 6.3.1
