---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/batch-cancel-order
    body:
      encoding: UTF-8
      string: '{"symbol":"BTCUSDT","orderIds":["123456","123457"],"clientOrderIds":null,"requestTime":null,"receiveWindow":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - 4+LzKL7HlIleShkSdgryJehGGP3wMpZg/gWC93IJ3Vw=
      Access-Timestamp:
      - '1747574771409'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '
        {
            "code": "00000",
            "message": "success",
            "requestTime": 1695808949356,
            "data": {
                "successList": [
                    {
                        "orderId": "121211212122",
                        "clientOid": "121211212122"
                    }
                ],
                "failureList": [
                    {
                        "orderId": "121211212122",
                        "clientOid": "xxx001",
                        "errorMsg": "duplicate clientOrderId"
                    }
                ]
            }
        }
      '
  recorded_at: Sun, 18 May 2025 13:26:14 GMT
recorded_with: VCR 6.3.1
