---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/batch-cancel-plan-order
    body:
      encoding: UTF-8
      string: '{"symbol":"INVALID","orderIds":["123456","123457"]}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - msQ7EfjleUnpqVC8Eb9iYv0KS1VO5He+IBbdUMNoSZ0=
      Access-Timestamp:
      - '1747577604265'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 18 May 2025 14:13:26 GMT
recorded_with: VCR 6.3.1
