---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/cancel-order
    body:
      encoding: UTF-8
      string: '{"symbol":"INVALID","orderId":"123456","clientOrderId":null,"requestTime":null,"receiveWindow":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - C9IyNh/r1eXHvA3dZrSHXuDAzQ7V/HsdhwoJ010iovM=
      Access-Timestamp:
      - '1747574728772'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 May 2025 13:25:30 GMT
recorded_with: VCR 6.3.1
