---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/cancel-plan-order
    body:
      encoding: UTF-8
      string: '{"orderId":"123456"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - "+axe7cGNXbteAs6K52icezZxtxI9kMZB3aY4Z91wHdY="
      Access-Timestamp:
      - '1747754397422'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: UTF-8
      string: '
        {
            "code": "00000",
            "msg": "success",
            "requestTime": 1668134497496,
            "data": {
                "result":"success"
            }
        }
      '
  recorded_at: Tue, 20 May 2025 15:19:59 GMT
recorded_with: VCR 6.3.1
