---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/cancel-order
    body:
      encoding: UTF-8
      string: '{"orderId":"123456","symbol":"INVALID"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - 0KrDgby4lkgBwEpd3hOA/ytI9rQPqObX+t1zw+Sw970=
      Access-Timestamp:
      - '1747750361748'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 20 May 2025 14:12:43 GMT
recorded_with: VCR 6.3.1
