---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/cancel-symbol-order
    body:
      encoding: UTF-8
      string: '{"symbol":"BTCUSDT","requestTime":null,"receiveWindow":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - 1WqWtSW8cN8fP3crT4FVYmbxaI53Bb2boUhUCDZxPcA=
      Access-Timestamp:
      - '1747574761941'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574763291,"data":{"symbol":"BTCUSDT"}}'
  recorded_at: Sun, 18 May 2025 13:26:03 GMT
recorded_with: VCR 6.3.1
