---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/cancel-order
    body:
      encoding: UTF-8
      string: '{"symbol":"BTCUSDT"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - lu1IULBmrFEkv+W5pfLmjDzOgWGwiTC7wIRuWZIRFFc=
      Access-Timestamp:
      - '1747574750777'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '
        {
            "code": "00000",
            "message": "success",
            "requestTime": 1234567891234,
            "data": {
                "orderId": "121211212122",
                "clientOid": "xx001"
            }
        }
      '
  recorded_at: Sun, 18 May 2025 13:25:52 GMT
recorded_with: VCR 6.3.1
