---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/cancel-plan-order
    body:
      encoding: UTF-8
      string: '{"orderId":"123456"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - b+pYvuKn4i99kj2xlnnaEQ3i3CfqUagwpI8bNDHHS5A=
      Access-Timestamp:
      - '1747574824724'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: UTF-8
      string: '{"code":"43025","msg":"Plan order does not exist","requestTime":1747574826139,"data":null}'
  recorded_at: Sun, 18 May 2025 13:27:06 GMT
recorded_with: VCR 6.3.1
