---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/trade/current-plan-order?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - m1XvvO+WnaJXa5vKpZ4Re8mw0Kx4Grtdv+wXxrnDXoQ=
      Access-Timestamp:
      - '1747574738172'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574739537,"data":{"nextFlag":false,"idLessThan":"","orderList":[]}}'
  recorded_at: Sun, 18 May 2025 13:25:39 GMT
recorded_with: VCR 6.3.1
