---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/trade/fills?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - tjPr8y4+BzbChItX9+Cj1DCFH3vbL8dr/hW5f7zc3y4=
      Access-Timestamp:
      - '1747574842438'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '
        {
          "code": "00000",
          "msg": "success",
          "requestTime": 1695865274510,
          "data": [
            {
              "userId": "**********",
              "symbol": "BTCUSDT",
              "orderId": "12345678910",
              "tradeId": "12345678910",
              "orderType": "market",
              "side": "buy",
              "priceAvg": "13000",
              "size": "0.0007",
              "amount": "9.1",
              "feeDetail": {
                "deduction": "no",
                "feeCoin": "BTC",
                "totalDeductionFee": "",
                "totalFee": "-0.0000007"
              },
              "tradeScope": "taker",
              "cTime": "1695865232579",
              "uTime": "1695865233027"
            }
          ]
        }
      '
  recorded_at: Sun, 18 May 2025 13:27:24 GMT
recorded_with: VCR 6.3.1
