---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/trade/history-plan-order?endTime=1747755739537&startTime=1747754739537&symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - PsX+Ea4UyhXbpOZUqQ7jwaFA2ahAOwrzD1cuzOMUpdc=
      Access-Timestamp:
      - '1747574832764'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"code": "00000","msg": "success","requestTime": 1668134581005,"data": {"nextFlag": false,"idLessThan": "1","orderList": [{"orderId": "121211212122","clientOid": "121211212122","symbol": "TRXUSDT","size": "151","executePrice": "0.041572","triggerPrice": "0.041572","status": "not_trigger","orderType": "limit","side": "buy","planType":"amount","triggerType": "fill_price","enterPointSource": "API","uTime": "1668134576563","cTime": "1668134576563"}]}}'
  recorded_at: Sun, 18 May 2025 13:27:14 GMT
recorded_with: VCR 6.3.1
