---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/trade/history-plan-order?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - PsX+Ea4UyhXbpOZUqQ7jwaFA2ahAOwrzD1cuzOMUpdc=
      Access-Timestamp:
      - '1747574832764'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"code":"400172","msg":"Parameter verification failed","requestTime":1747574834156,"data":null}'
  recorded_at: Sun, 18 May 2025 13:27:14 GMT
recorded_with: VCR 6.3.1
