---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/trade/history-orders?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - O/U6GHlcz+4hFYHARx0aIRBhqd6WNtO+4yeeunce0UU=
      Access-Timestamp:
      - '1747574719398'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574720767,"data":[]}'
  recorded_at: Sun, 18 May 2025 13:25:20 GMT
recorded_with: VCR 6.3.1
