---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/modify-plan-order
    body:
      encoding: UTF-8
      string: '{"orderId":"123456","triggerPrice":"31000","executePrice":"31000","size":"0.002"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - VNGRcyzMzl1CncJ3xmQmmKd2aJPt9RPjNdr83CmiBQk=
      Access-Timestamp:
      - '1747574727211'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: UTF-8
      string: '{"code": "00000","msg": "success","requestTime": 1668134576535,"data": {"orderId": "121211212122","clientOid": "121211212122"}}'
  recorded_at: Sun, 18 May 2025 13:25:28 GMT
recorded_with: VCR 6.3.1
