---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/modify-plan-order
    body:
      encoding: UTF-8
      string: '{"orderId":"INVALID","triggerPrice":"31000","executePrice":"31000","size":"0.002"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - 3Y1AF8QZ/2VFhMTXwqole7+U0FamQPvzVzpIC0SSW5g=
      Access-Timestamp:
      - '1747574789464'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 May 2025 13:26:31 GMT
recorded_with: VCR 6.3.1
