---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/trade/order-info?orderId=123456&symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - Y7wyI8TpNNR8O/f0yfRvc0O7gYC7rCyEoARwbra4RJU=
      Access-Timestamp:
      - '1747574783074'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":"40404","msg":"Request URL NOT FOUND","requestTime":1747574784475,"data":null}'
  recorded_at: Sun, 18 May 2025 13:26:24 GMT
recorded_with: VCR 6.3.1
