---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/trade/orderInfo?orderId=123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - Y7wyI8TpNNR8O/f0yfRvc0O7gYC7rCyEoARwbra4RJU=
      Access-Timestamp:
      - '1747574783074'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": "00000","msg": "success","requestTime": 1695865476577,"data": [{"userId": "**********","symbol": "BTCUSDT","orderId": "121211212122","clientOid": "121211212122","price": "0","size": "10.0000000000000000","orderType": "market","side": "buy","status": "filled","priceAvg": "13000.0000000000000000","baseVolume": "0.0007000000000000","quoteVolume": "9.1000000000000000","enterPointSource": "API","feeDetail": "{\"BGB\":{\"deduction\":true,\"feeCoinCode\":\"BGB\",\"totalDeductionFee\":-0.0041,\"totalFee\":-0.0041},\"newFees\":{\"c\":0,\"d\":0,\"deduction\":false,\"r\":-0.112079256,\"t\":-0.112079256,\"totalDeductionFee\":0}}","orderSource": "market","cancelReason": "","cTime": "1695865232127","uTime": "1695865233051"}]}'
  recorded_at: Sun, 18 May 2025 13:26:24 GMT
recorded_with: VCR 6.3.1
