---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/place-order
    body:
      encoding: UTF-8
      string: '{"symbol":"BTCUSDT","side":"buy","orderType":"limit","force":"normal","price":"30000","size":"0.001","clientOid":null,"triggerPrice":null,"tpslType":null,"requestTime":null,"receiveWindow":null,"stpMode":null,"presetTakeProfitPrice":null,"executeTakeProfitPrice":null,"presetStopLossPrice":null,"executeStopLossPrice":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - 1o+xaWtI0kaWzGf5TdmMkfsA8XWj6rAM5T96eR+olSE=
      Access-Timestamp:
      - '1747574733469'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"code":"40020","msg":"Parameter force error","requestTime":1747574734847,"data":null}'
  recorded_at: Sun, 18 May 2025 13:25:35 GMT
recorded_with: VCR 6.3.1
