---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/place-plan-order
    body:
      encoding: UTF-8
      string: '{"symbol":"INVALID","side":"buy","orderType":"limit","size":"0.001","triggerPrice":"30000","executePrice":"30000","triggerType":null,"timeInForce":null,"clientOrderId":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - sl+kOtalA8TmlfInjdVmnic3aeeiLq4yssm1DppU2a4=
      Access-Timestamp:
      - '1747574847185'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 May 2025 13:27:28 GMT
recorded_with: VCR 6.3.1
