---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/place-order
    body:
      encoding: UTF-8
      string: '{"force":"gtc","orderType":"limit","price":"30000","side":"buy","size":"0.001","symbol":"BTCUSDT"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - Qh6Tmo58NM4j+fomHMgnebWNy84vBS2CEqPN87ru4uw=
      Access-Timestamp:
      - '1747754540058'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747754542738,"data":{"orderId":"1308742897634820105","clientOid":"5fec19b7-1f3a-4b4a-ab47-013724c9e7dc"}}'
  recorded_at: Tue, 20 May 2025 15:22:21 GMT
recorded_with: VCR 6.3.1
