---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/place-plan-order
    body:
      encoding: UTF-8
      string: '{"executePrice":"30000","orderType":"limit","side":"buy","size":"0.001","symbol":"BTCUSDT","triggerPrice":"30000","triggerType":"mark_price"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - c+IWW0SjZh0ssk0KCdQKWRvrwtGZvpndXw8FtI18FKA=
      Access-Timestamp:
      - '1747754726548'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747754729537,"data":{"orderId":"1308743681205645314","clientOid":"1308743681193062403"}}'
  recorded_at: Tue, 20 May 2025 15:25:28 GMT
recorded_with: VCR 6.3.1
