---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/place-order
    body:
      encoding: UTF-8
      string: '{"symbol":"INVALID","side":"buy","orderType":"limit","force":"normal","price":"30000","size":"0.001","clientOid":null,"triggerPrice":null,"tpslType":null,"requestTime":null,"receiveWindow":null,"stpMode":null,"presetTakeProfitPrice":null,"executeTakeProfitPrice":null,"presetStopLossPrice":null,"executeStopLossPrice":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - 6TJJzrUcF4habCW4ZBb387cmR14hQPlgvFwQJboyO+4=
      Access-Timestamp:
      - '1747574779862'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 May 2025 13:26:21 GMT
recorded_with: VCR 6.3.1
