---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/trade/place-plan-order
    body:
      encoding: UTF-8
      string: '{"symbol":"BTCUSDT","side":"buy","orderType":"limit","size":"0.001","triggerPrice":"30000","executePrice":"30000","triggerType":null,"timeInForce":null,"clientOrderId":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - OR5560efiT/iHTn94iVcWqL/8c+2TKvnR20Q0kj0bT4=
      Access-Timestamp:
      - '1747574803916'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: UTF-8
      string: '{"code":"400172","msg":"The trigger type cannot be empty","requestTime":1747574805308,"data":null}'
  recorded_at: Sun, 18 May 2025 13:26:45 GMT
recorded_with: VCR 6.3.1
