---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/trade/unfilled-orders?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - bwxaofvaMKKHonxXjo0k7U/3pu5fq/Rlt1rfmKAnsGk=
      Access-Timestamp:
      - '1747574799161'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '
        {
          "code": "00000",
          "message": "success",
          "requestTime": 1695808949356,
          "data": [
            {
              "userId": "**********",
              "symbol": "btcusdt",
              "orderId": "2222222",
              "clientOid": "xxxxxxx",
              "priceAvg": "34829.12",
              "size": "1",
              "orderType": "limit",
              "side": "buy",
              "status": "new",
              "basePrice": "0",
              "baseVolume": "0",
              "quoteVolume": "0",
              "enterPointSource": "WEB",
              "presetTakeProfitPrice": "70000",
              "executeTakeProfitPrice": "",
              "presetStopLossPrice": "10000",
              "executeStopLossPrice": "",
              "cTime": "1622697148",
              "tpslType": "normal",
              "triggerPrice": null
            }
          ]
        }
    '
  recorded_at: Sun, 18 May 2025 13:26:40 GMT
recorded_with: VCR 6.3.1
