---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/public/symbols?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - mgrgyMwVZ1axw0UzdV1PSWicnibFOQt+CoZZTTCYvmo=
      Access-Timestamp:
      - '1747574742890'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574744237,"data":[{"symbol":"BTCUSDT","baseCoin":"BTC","quoteCoin":"USDT","minTradeAmount":"0","maxTradeAmount":"900000000000000000000","takerFeeRate":"0.002","makerFeeRate":"0.002","pricePrecision":"2","quantityPrecision":"6","quotePrecision":"8","status":"online","minTradeUSDT":"1","buyLimitPriceRatio":"0.05","sellLimitPriceRatio":"0.05","areaSymbol":"no","orderQuantity":"200","openTime":"1532454360000","offTime":""}]}'
  recorded_at: Sun, 18 May 2025 13:25:44 GMT
recorded_with: VCR 6.3.1
