---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/market/candles?granularity=1min&symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - OeNnI+62TlXl/hk6zdZWij6SuQ8lCMr+jOFqQeHT3Gk=
      Access-Timestamp:
      - '1747574807157'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574808527,"data":[["1747568820000","103810.08","103810.08","103810.07","103810.08","1.341912","139303.98579953","139303.98579953"],["1747568880000","103810.08","103810.08","103808.5","103808.51","0.725222","75285.00307674","75285.00307674"],["1747568940000","103808.51","103808.51","103802.67","103802.68","0.941033","97683.62525863","97683.62525863"],["1747569000000","103802.68","103802.68","103800.97","103800.98","0.513392","53291.09776879","53291.09776879"],["1747569060000","103800.98","103800.98","103795.97","[...]
