---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/market/fills-history?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - AWH4Ux5h6LFjQlsObs4T2k9CjtfAPKNXkCcG+dmCO7E=
      Access-Timestamp:
      - '1747574769788'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574771166,"data":[{"symbol":"BTCUSDT","tradeId":"1307988344583622658","side":"Buy","price":"103884.3","size":"0.001248","ts":"1747574643000"},{"symbol":"BTCUSDT","tradeId":"1307988344562651137","side":"Sell","price":"103884.29","size":"0.001855","ts":"1747574643000"},{"symbol":"BTCUSDT","tradeId":"1307988343673458691","side":"Sell","price":"103884.29","size":"0.003653","ts":"1747574643000"},{"symbol":"BTCUSDT","tradeId":"1307988343170142210","side":"Buy","price":"103884.3","size":"0.00254","ts":"1747574642000"},{"symbol":"BTCUSDT","tradeId":"1307988341521780739","side":"Sell","price":"103884.29","size":"0.001552","ts"[...]
