---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/market/fills?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - TxXygEZ6kXb/4JsiTkTnJIMKaaW+CkF5IfPIiaV+jD8=
      Access-Timestamp:
      - '1747574829565'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574830975,"data":[{"symbol":"BTCUSDT","tradeId":"1307989121582632966","side":"buy","price":"103876.99","size":"0.004936","ts":"1747574828525"},{"symbol":"BTCUSDT","tradeId":"1307989119212851202","side":"buy","price":"103876.99","size":"0.004913","ts":"1747574827960"},{"symbol":"BTCUSDT","tradeId":"1307989118743089155","side":"sell","price":"103876.99","size":"0.0001","ts":"1747574827848"},{"symbol":"BTCUSDT","tradeId":"1307989117904228362","side":"buy","price":"103877","size":"0.004437","ts":"1747574827648"},{"symbol":"BTCUSDT","tradeId":"1307989117447049274","side":"sell","price":"103877","size":"0.0025","ts":"1747574[...]
