---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/market/history-candles?endTime=1690196141868&granularity=1min&symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - "+oPEwKVi3xAGO1ikOhaMtxODcleeSy0TEL/3qrYsH4Y="
      Access-Timestamp:
      - '1747795576359'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747795576668,"data":[["1690190100000","29748.66","29749.99","29748.65","29749.93","9.4669","281637.551325","281637.551325"],["1690190160000","29749.93","29758.46","29749.68","29758.46","7.8252","232803.538799","232803.538799"],["1690190220000","29758.46","29767.28","29758.42","29767.27","1.6284","48467.674943","48467.674943"],["1690190280000","29767.27","29767.28","29766.13","29767.16","2.5294","75292.423665","75292.423665"],["1690190340000","29767.16","29767.17","29762.11","29762.14","2.2555","67132.546298","67132[...]
