---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/market/merge-depth?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - n4JFZBoJDIezBHpP4hFh41neWnpq9GnzCJiKZlsSRJw=
      Access-Timestamp:
      - '1747574845611'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574846979,"data":{"asks":[[103873.01,1.526477],[103874.00,0.194161],[103874.01,0.286055],[103874.93,0.107845],[103875.97,0.006298],[103876.99,0.059144],[103877.01,0.192578],[103879.58,0.096178],[103879.59,0.121917],[103882.63,0.184750],[103883.40,0.161228],[103883.41,0.202745],[103884.30,0.238231],[103885.99,0.013871],[103886.00,0.000241],[103893.22,0.232424],[103893.23,0.774746],[103894.20,0.292063],[103894.21,0.192578],[103895.74,0.005000],[103895.75,0.233089],[103897.44,0.304560],[103897.48,0.304030],[103899.08,0.035[...]
