---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/market/orderbook?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - Y1RqjfZKZOJh5YEYMrnsVSIgoPd5/9Uqbjlwi9aYXwU=
      Access-Timestamp:
      - '1747574797470'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574798920,"data":{"asks":[["103884.3","1.187117"],["103884.31","0.000100"],["103884.32","0.0001"],["103884.33","0.0001"],["103885.31","0.068277"],["103885.32","0.225387"],["103886","0.000241"],["103889.18","0.0289"],["103889.19","0.096210"],["103894.21","0.1292"],["103894.22","0.192578"],["103895.73","0.014716"],["103895.74","0.005000"],["103895.75","0.233089"],["103899.54","0.147711"],["103899.55","0.192578"],["103900","0.002877"],["103900.01","0.097462"],["103900.8","0.184724"],["103904.8","0.240542"],["103904.81","0.[...]
