---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/market/tickers?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - B6YE9SACqxmRKpRPMJ7/Sn7e67g654Ltd0FA5ek1YGs=
      Access-Timestamp:
      - '1747574765062'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574766426,"data":[{"open":"102889.99","symbol":"BTCUSDT","high24h":"104071.43","low24h":"102665","lastPr":"103884.3","quoteVolume":"335315496.518512","baseVolume":"3244.866356","usdtVolume":"335315496.51851119","ts":"1747574765361","bidPr":"103884.29","askPr":"103884.3","bidSz":"0.304315","askSz":"1.15968","openUtc":"103117.92","changeUtc24h":"0.00743","change24h":"0.00966"}]}'
  recorded_at: Sun, 18 May 2025 13:26:06 GMT
recorded_with: VCR 6.3.1
