---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/market/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - 9pS0R2B7sxHWy51eDilVMhWOgW0IfluS9hgydDYgenk=
      Access-Timestamp:
      - '1747574837557'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574838922,"data":[{"open":"15.23","symbol":"LINKUSDT","high24h":"15.88","low24h":"15.08","lastPr":"15.68","quoteVolume":"7783530.0849","baseVolume":"503921.772","usdtVolume":"7783530.084846","ts":"1747574837698","bidPr":"15.67","askPr":"15.68","bidSz":"103.9582","askSz":"2661.615","openUtc":"15.32","changeUtc24h":"0.0235","change24h":"0.02955"},{"open":"5.811","symbol":"UNIUSDT","high24h":"6.047","low24h":"5.645","lastPr":"5.933","quoteVolume":"7902091.1824","baseVolume":"1356349.0363","usdtVolume":"7902091.1823874","ts":"1747574837696","bidPr":"5.934","askPr":"5.935","bidSz":"152.5164","askSz":"32.7008","openUtc":"5.739","changeUtc24h":"0.0338","change24h":"0.02099"},{"open":"0.698","symbol":"SUSHIUSDT","high24h":"0.738","low24h":"0.688","lastPr":"0.728","quoteVolume":"521589.501","baseVolume":"738822.8402","usdtVolume":"52[...]
