---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/market/vip-fee-rate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - iW/N8HcVw57z43IR2b5PCDWQl3o8VZaTh40kx/B32iA=
      Access-Timestamp:
      - '1747574835947'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747574837338,"data":[{"level":"1","dealAmount":"500000","assetAmount":"30000","takerFeeRate":"0.0008","makerFeeRate":"0.0008","btcWithdrawAmount":"300","usdtWithdrawAmount":"4000000"},{"level":"2","dealAmount":"2000000","assetAmount":"50000","takerFeeRate":"0.0007","makerFeeRate":"0.00065","btcWithdrawAmount":"300","usdtWithdrawAmount":"6000000"},{"level":"3","dealAmount":"8000000","assetAmount":"250000","takerFeeRate":"0.0006","makerFeeRate":"0.0005","btcWithdrawAmount":"300","usdtWithdrawAmount":"8000000"},{"level":"4","dealAmount":"30000000","assetAmount":"750000","takerFeeRate":"0.0005","makerFeeRate":"0.0004","btcWithdrawAmount":"300","usdtWithdrawAmount":"10000000"},{"level":"5","dealAmount":"50000000","assetAmount":"2000000","takerFeeRate":"0.0004","makerFeeRate":"0.0003","btcWithdrawAmount":"500","usdtWithdrawAmount":"12000000"},{"level":"6","dealAmount":"75000000","assetAmount":"2010001","takerFeeRate":"0.00035","makerFeeRate":"0.00025","btcWithdrawAmount":"500","usdtWithdrawAmount":"15000000"},{"level":"7","dealAmount":"100000000","assetAmount":"2020002","takerFeeRate":"0.00032","makerFeeRate":"0.0002","btcWithdrawAmount":"500","usdtWithdrawAmount":"18000000"}]}'
  recorded_at: Sun, 18 May 2025 13:27:17 GMT
recorded_with: VCR 6.3.1
