---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/account/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - wSHjOKfTMyscnLgja9T0LV6EDStU5dLcGxZkZh6I/gE=
      Access-Timestamp:
      - '1747391308332'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747391309583,"data":[{"coin":"BGB","available":"17.3437389000000000","limitAvailable":"0","frozen":"0.0000000000000000","locked":"0.0000000000000000","uTime":"1738557485856"},{"coin":"USDT","available":"21.1664998863856000","limitAvailable":"0","frozen":"169.0000000000000000","locked":"0.0000000000000000","uTime":"1745585822827"},{"coin":"ETH","available":"0.0802576600000000","limitAvailable":"0","frozen":"0.0000000000000000","locked":"0.0000000000000000","uTime":"1738556862180"},{"coin":"LTC","available":"1.1075913000000000","limitAvailable":"0","frozen":"0.0000000000000000","locked":"0.0000000000000000","uTime":"1738557185081"},{"coin":"BCH","avail[...]
