---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/account/bills
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - AIDH3FKnTufP/Q4yimqZZCOmOVDS/wy7EG4VdkpOPZU=
      Access-Timestamp:
      - '1747755392684'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747755395643,"data":[{"billId":"1308557789250371585","bizOrderId":"1308557789165465730","coin":"USDT","groupType":"transaction","businessType":"ORDER_DEALT_FROZEN_OUT","size":"-0.00002677","balance":"183.47399988","fees":"0.00000000","cTime":"1747710409442"},{"billId":"1308557789250371584","bizOrderId":"1308557789165465730","coin":"TRX","groupType":"transaction","businessType":"ORDER_DEALT_IN","size":"0.00010000","balance":"491.14386450","fees":"-0.00000010","cTime":"1747710409442"},{"billId":"1308557788944187411","bizOrderId":"1308557788897030152","coin":"USDT","groupType":"transaction","businessType":"ORDER_DEALT_FROZEN_OUT","size":"-6.69247323","balance":"183.47402665","fees":"0.00000000","cTime":"1747710409378"},{"billId":"13085[...]
