---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/account/deduct-info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - NLyHfwBP130jXzlboszLEOrIVwi54GpdkKVg6Qo7W3A=
      Access-Timestamp:
      - '1748166308198'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1748166310494,"data":{"deduct":"off"}}'
  recorded_at: Sun, 25 May 2025 09:45:09 GMT
recorded_with: VCR 6.3.1
