---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/account/deduct-info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - 2yv1ARuEQgPCO8sGSxIUX8j8Q6gGVp09iXN9LXje3gA=
      Access-Timestamp:
      - '1747825212361'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747825215180,"data":{"deduct":"off"}}'
  recorded_at: Wed, 21 May 2025 11:00:14 GMT
recorded_with: VCR 6.3.1
