---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/account/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - BEvT4E0hoAkdjmzil/22Uq+nI2lg3m8jOQkk/66XbPU=
      Access-Timestamp:
      - '1747406697556'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747406699064,"data":{"userId":"7955878595","inviterId":null,"channelCode":"rvbt","channel":"aqkm","ips":"","authorities":["wtow","chow","smow","coow","taxw","p2pw","cpow","ttow","stow"],"parentId":7955878595,"traderType":"not_trader","regisTime":"1731418905000"}}'
  recorded_at: Fri, 16 May 2025 14:44:59 GMT
recorded_with: VCR 6.3.1
