---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/account/sub-main-trans-record
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - oZlZ9bC3jxomd5OL/AYsHLgSwK1yzhzynehEIAncxR8=
      Access-Timestamp:
      - '1747788415945'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"00000","msg":"success","requestTime":1747788417714,"data":[{"coin":"USDT","status":"Successful","toType":"spot","fromType":"usdt_futures","size":"3000.00000000","ts":"1744674721240","clientOid":"1295825189997600768","transferId":"149096092","fromUserId":"7955878595","toUserId":"7955878595"}]}'
  recorded_at: Wed, 21 May 2025 00:46:58 GMT
recorded_with: VCR 6.3.1
