---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/account/sub-main-trans-record
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - gzTT0El3Z/eM7XpnIazR5IA8c9fPWgDnG/6lI73hO+A=
      Access-Timestamp:
      - '1747574844038'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"code":"40009","msg":"sign signature error","requestTime":1747574845408,"data":null}'
  recorded_at: Sun, 18 May 2025 13:27:25 GMT
recorded_with: VCR 6.3.1
