---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/account/subaccount-assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - Y/EzeO3ztm2Pvhr3juGPwjJ9GHryNWstcknJTKB1r/o=
      Access-Timestamp:
      - '1747574760292'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '
{
  "code": "00000",
  "message": "success",
  "requestTime": 1695808949356,
  "data": [
    {
      "id": 1111,
      "userId": 1234567890,
      "assetsList": [
        {
          "coin": "BTC",
          "available": "1.1",
          "limitAvailable": "12.1",
          "frozen": "0",
          "locked": "1.1",
          "uTime": "1337654897651"
        }
      ]
    },
    {
      "id": 2222,
      "userId": 1234567890,
      "assetsList": [
        {
          "coin": "ETH",
          "available": "12.1",
          "limitAvailable": "12.1",
          "frozen": "0",
          "locked": "1.1",
          "uTime": "1337654897651"
        }
      ]
    }
  ]
}'
  recorded_at: Sun, 18 May 2025 13:26:01 GMT
recorded_with: VCR 6.3.1
