---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/account/switch-deduct
    body:
      encoding: UTF-8
      string: '{"deduct":true,"requestTime":null,"receiveWindow":null}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - dJiIQnnInybYn4d5ENwaUAbGvKy+SouAW8QKc7+ii90=
      Access-Timestamp:
      - '1747574792662'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"code":"400172","msg":"deduct does not conform to specification","requestTime":1747574794044,"data":null}'
  recorded_at: Sun, 18 May 2025 13:26:34 GMT
recorded_with: VCR 6.3.1
