---
http_interactions:
- request:
    method: post
    uri: https://api.bitget.com/api/v2/spot/account/switch-deduct
    body:
      encoding: UTF-8
      string: '{"deduct":"on"}'
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - 4MxednaSZHKYEKYa5iFdDN4WM2dfFrwwr30UgsSvTHg=
      Access-Timestamp:
      - '1747753963945'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '
{
    "code": "00000",
    "msg": "success",
    "requestTime": 1683875302853,
    "data": true
}'
  recorded_at: Tue, 20 May 2025 15:12:45 GMT
recorded_with: VCR 6.3.1
