---
http_interactions:
- request:
    method: get
    uri: https://api.bitget.com/api/v2/spot/account/transferRecords
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - "<API_KEY>"
      Access-Sign:
      - kL+xQcAs614qAkieGoE/ztWLP9+HJrR9eS1SWK9n6Fg=
      Access-Timestamp:
      - '1747574758725'
      Access-Passphrase:
      - "<API_PASSPHRASE>"
      Content-Type:
      - application/json
      X-Channel-Api-Code:
      - spot
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Remain-Limit:
      - '19'
    body:
      encoding: UTF-8
      string: '{"code": "00000","data": [{"coin": "btc","status": "Successful","toType": "usdt_futures","toSymbol": "","fromType": "spot","fromSymbol": "BTC/USD","size": "1000.00000000","ts": "1631070374488","clientOid": "1","transferId": "1"}],"msg": "success","requestTime": 1631608142260}'
  recorded_at: Sun, 18 May 2025 13:26:00 GMT
recorded_with: VCR 6.3.1
